/* ---------------------------------- Fonts */

@font-face {
    font-family: "PhillySans";
    src: url(../font/PhillySans.otf)
}

.title {
    font-family: "PhillySans", sans-serif;
    color: #f9b233;
    text-align: center;
}

/* ---------------------------------- Body */

body {
    background-color: black;
    color: white;
}

.fa-arrow-up-from-square {
    color: black;
}

.fa-icon {
    color: #f9b233;
  }

.btn {
    background-color: #f9b233;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------- Nav Bar */

.rr-nav {
    background-color: black;
}

.sidenav li>a {
    color: white;
}

.nav-link:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.rr-logo {
    height: 40px;
    width: auto;
    margin-left: 15px;
    position: absolute;
    top: 15%;
}

.rr-logo:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.collapse-title {
    color: #f9b233;
}

.burger:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.fa-icon {
    color: #f9b233;
  }

.btn-large {
    background-color: #f9b233;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}