/* ---------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: "PhillySans";
    src: url(../font/PhillySans.otf)
}

.title {
    font-family: "PhillySans", sans-serif;
    color: #f9b233;
    text-align: center;
    margin-bottom: 40px;
}

/* ---------------------------------- Body */

body {
    background-color: black;
    color: white;
    font-family: 'Merriweather+Sans', sans-serif;
}

.fa-arrow-up-from-square {
    color: black;
}

.fa-icon {
    color: #f9b233;
}

.btn {
    background-color: #f9b233;
    margin: 10px 10px 0 10px;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

.blank-background {
    min-height: 70vh;
    justify-content: center;

}

/* ------------- Flashes */

.flashes {
    font-family: "PhillySans", sans-serif;
    color: white;
}

/* ---------------------------------- Nav Bar */

.rr-nav {
    background-color: black;
}

.sidenav li>a {
    color: white;
}

.nav-link:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.rr-logo {
    height: 40px;
    width: auto;
    margin-left: 15px;
    position: absolute;
    top: 15%;
}

.rr-logo:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.collapse-title {
    color: #f9b233;
}

.burger:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.fa-icon {
    color: #f9b233;
}

.btn-large {
    background-color: #f9b233;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

.collapse-logo {
    width: 200px;
    height: auto;
    padding-top: 30px;
}

/* ---------------------------------- Footer */

.page-footer {
    background-color: black;
    color: white;
}

.page-footer h2 {
    font-size: x-large;
}

.footer-logo {
    width: 200px;
    height: auto;
    margin-left: -10px;
}

.icons {
    color: white;
    font-size: 20px;
}

.icons:hover {
    color: #f9b233;
}

/* ---------------------------------- Index */

.background-image {
    height: auto;
    min-height: 100vh;
    background: url("../images/rave-pic-2.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    position: relative;
}

.main-logo {
    width: 650px;
    max-width: 60%;
    height: auto;
}

.welcome-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 10px;
}

/* ---------------------------------- Register */

.alert {
    font-size: large;
    padding-left: 10px;
    padding-top: 20px;
    display: none;
}

.error-icon {
    color: #d93025;
}

.tick-icon {
    font-size: large;
    padding-left: 10px;
    padding-top: 20px;
    display: none;
}

.fa-circle-check {
    color: #2fbc1f;
    font-size: x-large;

}

/* ---------------------------------- Profile */

.profile-img {
    margin-left: 3rem;
    color: #3b3b3b;
}

.profile-background {
    height: auto;
    min-height: 100vh;
    background: url("../images/rave-pic-2.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

.profile-pic {
    object-fit: cover;
    height: 200px;
    width: 200px;
    background-color: #3b3b3b;
    border: 3px solid #e08e01;
    padding: 10px;
}

.profile-content h3 {
    font-weight: bold;
}

.profile-content p {
    font-size: large;
    font-weight: bold;
}

.add_profile {
    background-color: #3b3b3b;
    border: 3px solid #e08e01;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 850px;
    padding: 15px;
    border-radius: 1%;
}

.add_profile input {
    color: white;
}

.add_profile textarea {
    color: white;
}

/* ---------------------------------- Log In */

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #f9b233;
}

.card-panel {
    border: 3px solid #e08e01;
}

/* ---------------------------------- Raves */

.btn {
    background-color: #f9b233;
}

.btn:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

.card-container {
    padding: 0;
}

.card {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 750px;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-content p {
    padding-bottom: 10px;
}

.rave-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    font-family: "PhillySans", sans-serif;
}

.collapsible {
    background-color: black;

}

.collapsible-header {
    background-color: #3b3b3b;
    padding-right: 0;
}

.collapsible-header h4 {
    text-align: left;
}

.fa-hand-point-down {
    margin-left: auto;
    align-self: center;
}

.picker {
    background-color: black;
}

.datepicker-date-display {
    background-color: #3b3b3b;
}

.datepicker-table-wrapper {
    background-color: #f9b233;
}

.btn-flat {
    color: #3b3b3b;
}

.btn-flat:hover {
    color: #f9b233;
}

.comment-box {
    color: white;
    width: 300px;
}

.comment-btn {
    margin-bottom: 20px;
}

.pagination-keys {
    background-color: black;
    display: inline-block;
}

.pagination-keys a {
    background-color: black;
    color: white;
    text-decoration: none;
}

.page-link {
    font-family: "PhillySans", sans-serif;
    font-size: 25px;
    color: white
}

.page-link:hover {
    color: #f9b233;
}

.page-num {
    font-family: "PhillySans", sans-serif;
    font-size: 35px;
}

.page-num.active {
    color: #f9b233;
}

.active {
    color: #f9b233;
}

.search-form {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 90%;
    margin-bottom: 10px;
}

.search-input {
    color: white;
}

/* ---------------------------------- Add Rave */

.add_rave {
    background-color: #3b3b3b;
    border: 3px solid #e08e01;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 850px;
    padding: 15px;
    border-radius: 1%;
}

.add_rave input {
    color: white;
}

.add_rave textarea {
    color: white;
}

.banger {
    display: inline;
}

.img-label {
    margin-left: 3rem;
}

.fa-bullhorn {
    margin-left: 5px;
}

.select-wrapper ul li {
    color: #3b3b3b !important;
}

/* ---------------------------------- Edit Rave */

/* ---------------------------------- Organisations */

.card-title {
    font-family: "PhillySans", sans-serif;
}

.org-card {
    height: auto;
    background-color: #3b3b3b;
    border: 2px solid #e08e01;
    padding: 0;
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 30px;
}

.org-btn {
    margin-bottom: 30px;
}

/* ---------------------------------- Contact Form */

.form-container {
    align-items: center;
    max-width: 700px;
    background-color: #3b3b3b;
    border: 3px solid #e08e01;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    ;
}

#name {
    width: 100%;
    margin: 5px 0 20px 0;
}

#emailaddress {
    width: 100%;
    margin: 5px 0 20px 0;
    text-align: left;
}

#subject {
    width: 100%;
    margin: 5px 0 20px 0;
    text-align: left;
}

#message {
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
}

.form-container .btn {
    margin: 0;
}

/* ---------------------------------- Modals */

.review-modal {
    max-width: 500px;
    height: auto;
    border: 3px solid #e08e01;
    background-color: #3b3b3b;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    animation: fadein 0.5s;
    padding: 20px;
    z-index: 2;
}

.review-modal h2 {
    font-family: "PhillySans", sans-serif;
}

.organisation-modal {
    max-width: 500px;
    height: auto;
    border: 3px solid #e08e01;
    background-color: #3b3b3b;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    animation: fadein 0.5s;
    padding: 20px;
    z-index: 2;
}

.organisation-modal h2 {
    font-family: "PhillySans", sans-serif;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}

/* ---------------------------------- Errors */

.error-background-image {
    height: auto;
    min-height: 100vh;
    background: url("../images/rave-pic-3.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.error-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 10px;
    max-width: 600px;
}

.error-container p {
    font-size: x-large;
    font-weight: bold;
}

/* ---------------------------------- Media Queries */

@media only screen and (max-width: 740px) {
    .youtube-vid {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: xx-large;
    }

    .main-logo {
        max-width: 70%;
    }

    .form-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .error-container p {
        font-size: large;
    }

    .error-container .title {
        font-size: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .title {
        font-size: 35px;
    }

    .rave-title {
        font-size: 25px;
    }

    .main-logo {
        max-width: 80%;
    }

    .error-container .title {
        font-size: 50px;
    }
}