/* ---------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: "PhillySans";
    src: url(../font/PhillySans.otf)
}

.title {
    font-family: "PhillySans", sans-serif;
    color: #f9b233;
    text-align: center;
}

/* ---------------------------------- Body */

body {
    background-color: black;
    color: white;
    font-family: 'Merriweather+Sans', sans-serif;
}

.fa-arrow-up-from-square {
    color: black;
}

.fa-icon {
    color: #f9b233;
  }

.btn {
    background-color: #f9b233;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

/* ------------- Flashes */

.flashes {
    font-family: "PhillySans", sans-serif;
    color:white;
}

/* ---------------------------------- Nav Bar */

.rr-nav {
    background-color: black;
}

.sidenav li>a {
    color: white;
}

.nav-link:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.rr-logo {
    height: 40px;
    width: auto;
    margin-left: 15px;
    position: absolute;
    top: 15%;
}

.rr-logo:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.collapse-title {
    color: #f9b233;
}

.burger:hover {
    color: #f9b233;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.fa-icon {
    color: #f9b233;
  }

.btn-large {
    background-color: #f9b233;
}

.btn-large:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------- Index */

.main-logo {
    width: 650px;
    max-width: 75%;
    height: auto;
    margin-top: -50px;
}

/* ---------------------------------- Log In */

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color:#f9b233;
}

/* ---------------------------------- Get Raves */

.btn {
    background-color: #f9b233;
}

.btn:hover {
    background-color: #e08e01;
    transition: all 0.3s ease-in-out;
}

.card {
    background-color: #3b3b3b;
}

.rave-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

/* ---------------------------------- Add Rave */

.add_rave {
    background-color:#3b3b3b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 850px;
    padding: 15px;
    border-radius: 1%;
}

.banger {
    display: inline;
}