{% extends "base.html" %}
{% block content %}

<h1 class="title">{{ title }}</h1>

<div class="row">
    <form class="add_rave" method="POST" action="{{ url_for('raves.add_rave') }}" enctype="multipart/form-data">
        <div class="row">
            <!-- selecet organisation -->
            <div class="input-field org-select col s12">
                <i class="fa-solid fa-people-group prefix fa-icon"></i>
                <select id="organisation_name" name="organisation_name" class="validate" required>
                    <option value="" disabled selected>Select Organisation</option>
                    {% for organisation in organisations %}
                    <option value="{{ organisation.organisation_name }}">{{ organisation.organisation_name }}</option>
                    {% endfor %}
                </select>
                <label for="organisation_name" aria-label="Select organisation">Organisation</label>
            </div>
        </div>
        <!-- image upload -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-image prefix fa-icon"></i>
                <input type="file" name="rave_image" id="rave_image" class="validate" required>
                <div class="img-label">
                    <label for="rave_image" aria-label="Upload a profile picture">Upload a pic from the rave</label>
                    <div class="image-incorrect">
                        <i class="fas fa-exclamation-circle error-icon"> </i>
                        <span class="error-text">Incorrect file type, must be jpg, jpeg or png</span>
                    </div>
                    <div class="image-correct">
                        <i class="fa-regular fa-circle-check"></i>
                        <span class="error-text">Correct file type</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- rave name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-face-grin-wide prefix fa-icon"></i>
                <input id="rave_name" name="rave_name" type="text" maxlength="20" class="validate" required>
                <label for="rave_name" aria-label="Enter the rave name">Rave Name</label>
            </div>
        </div>
        <!-- rave date picker -->
        <div class="row">
            <div class="input-field date-picker col s12">
                <i class="fa-solid fa-calendar-days prefix fa-icon"></i>
                <input id="date" name="date" type="text" class="datepicker validate" required>
                <label for="date" aria-label="Enter the rave date">Rave Date</label>
            </div>
        </div>
        <!-- rave venue -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-warehouse prefix fa-icon"></i>
                <input id="venue" name="venue" type="text" class="validate" required>
                <label for="venue" aria-label="Enter the rave venue">Rave Venue</label>
            </div>
        </div>
        <!-- rave description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-file-pen prefix fa-icon"></i>
                <textarea id="rave_description" name="rave_description" class="materialize-textarea validate"
                    required></textarea>
                <label for="rave_description" aria-label="Enter a description of the rave">How was it?</label>
            </div>
        </div>
        <!-- Youtube Upload -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-link prefix fa-icon"></i>
                <input id="rave_set" name="rave_set" type="text" class="validate">
                <label for="rave_set" aria-label="Add a youtube set of the rave">Add a youtube set?</label>
                <div class="youtube-incorrect">
                    <i class="fas fa-exclamation-circle error-icon"> </i>
                    <span class="error-text">Incorrect format, must be a YouTube url (or leave blank)</span>
                </div>
                <div class="youtube-correct">
                    <i class="fa-regular fa-circle-check"></i>
                    <span class="error-text">Correct YouTube format</span>
                </div>
            </div>
        </div>
        <!-- banger checkbox -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-bullhorn fa-icon prefix banger"></i>
                    <label for="banger">
                        <input type="checkbox" name="banger" id="banger">
                        <span class="lever"></span>
                        Proper naughty rave?
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <i class="fa-solid fa-arrow-up-from-square"></i>
                <button type="submit" value="Upload" class="btn" aria-label="Add the review">Add Review</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}