<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Rave Reviews is sharing site for Drum and Bass enthusiastics to leave memories of raves they have attended">
    <meta name="keywords"
          content="raves, rave reviews, raving, drum and bass, jungle, dnb, clubbing">
    <meta name="author" content="Jamie Letts">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">   
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Rave Reviews</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav>
            <div class="nav-wrapper rr-nav">
                <a href="{{ url_for('index.home')}}"><img src="{{ url_for('static', filename='images/favicon.png') }}" class="rr-logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars burger"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index.home')}}" class="nav-link">Home</a></li>
                    <li><a href="#" class="nav-link">Profile</a></li>
                    <li><a href="{{ url_for('raves.get_raves') }}" class="nav-link">Raves</a></li>
                    <li><a href="#" class="nav-link">Add Rave</a></li>
                    <li><a href="#" class="nav-link">Add Organisation</a></li>
                    <li><a href="#" class="nav-link">Log Out</a></li>
                    <li><a href="#" class="nav-link">Log In</a></li>
                    <li><a href="#" class="nav-link">Register</a></li>
                </ul>
            </div>
        </nav>
        <!-- side navbar -->
        <ul class="sidenav rr-nav" id="mobile-demo">
            <li><h4 class="center-align collapse-title">Rave Reviews</h4></li>
            <li><a href="{{ url_for('index.home')}}" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Profile</a></li>
            <li><a href="{{ url_for('raves.get_raves') }}" class="nav-link">Raves</a></li>
            <li><a href="#" class="nav-link">Add Rave</a></li>
            <li><a href="#" class="nav-link">Add Organisation</a></li>
            <li><a href="#" class="nav-link">Log Out</a></li>
            <li><a href="#" class="nav-link">Log In</a></li>
            <li><a href="#" class="nav-link">Register</a></li>
        </ul>
        
    </header>

    {% block content %}
    {% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
    </script>
    <!-- Materialize Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/177beb570f.js" crossorigin="anonymous"></script>
    <!-- indexjs-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>