{% extends "base.html" %}
{% block content %}

<h1 class="title">{{ title }}</h1>

    <div class="row">
        <form class="add_profile" method="POST" action="{{ url_for('authentication.edit_profile', user_id=user._id) }}" enctype="multipart/form-data">
            <!-- username -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-user prefix fa-icon"></i>
                  <input id="username" name="username" type="text" minlength="5" value="{{ user.username }}"
                       maxlenght="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" readonly required>
                  <label for="username">Username</label>
              </div>
            </div>
            <!-- password -->
            <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-lock prefix fa-icon"></i>
                <input id="password" name="password" type="password" minlength="5"
                      maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                <label for="password">Password</label>
              </div>
            </div>
            <!-- first name -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-pen prefix fa-icon"></i>
                  <input id="first_name" name="first_name" type="text" value="{{ user.first_name }}"
                      maxlength="20" class="validate" required>
                  <label for="first_name">First Name</label>
              </div>
            </div>
            <!-- last name -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-pen prefix fa-icon"></i>
                  <input id="last_name" name="last_name" type="text" value="{{ user.last_name }}"
                      maxlength="20" class="validate" required>
                  <label for="last_name">Last Name</label>
              </div>
            </div>
            <!-- favourite dj -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-compact-disc prefix fa-icon"></i>
                  <input id="fave_dj" name="fave_dj" type="text" value="{{ user.fave_dj }}"
                    maxlength="20" class="validate" required>
                  <label for="fave_dj">Favourite DJ</label>
              </div>
            </div>
            <!-- favourite mc -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-microphone-lines prefix fa-icon"></i>
                  <input id="fave_mc" name="fave_mc" type="text" value="{{ user.fave_mc }}"
                      maxlength="20" class="validate" required>
                  <label for="fave_mc">Favourite MC</label>
              </div>
            </div>
            <!-- favourite venue -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-warehouse prefix fa-icon"></i>
                  <input id="fave_venue" name="fave_venue" type="text" value="{{ user.fave_venue }}"
                      maxlength="20" class="validate" required>
                  <label for="fave_venue">Favourite Venue</label>
              </div>
            </div>
            <!-- favourite organisation -->
            <div class="input-field col s12">
              <i class="fa-solid fa-people-group prefix fa-icon"></i>
              <select id="fave_organisation" name="fave_organisation" class="validate" required>
                <option value="" disabled>Select Organisation</option>
                {% for organisation in organisations %}
                  {% if organisation.organisation_name == user.organisation_name %}
                    <option value="{{ organisation.organisation_name }}" selected>{{ organisation.organisation_name }}</option>
                  {% else %}
                    <option value="{{ organisation.organisation_name }}">{{ organisation.organisation_name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <label for="fave_organisation">Favourite Organisation</label>
          </div>
            <!-- faveourtie set (youtube upload) -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-link prefix fa-icon"></i>
                    <input id="fave_set" name="fave_set" type="text" pattern="^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/.+" class="validate">
                    <label for="fave_set">Do you have a favourite set? (youtube link upload)</label>
                </div>
            </div>
             <!-- profile pic upload -->
             <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-image-portrait prefix fa-icon"></i>
                  <input type="file" name="profile_image" id="profile_image" class="validate" required>
                  <div class="profile-img">
                      <label for="profile_image">Upload a profile pic</label>
                  </div>
              </div>
          </div>
            <!-- confirm password -->
            <!-- <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-lock prefix fa-icon"></i>
                <input id="confirm-password" name="confirm-password" type="password" class="validate" required>
                <label for="confirm-password">Confirm Password</label>
              </div>
            </div> -->
            
            <!-- register button -->
            <div class="row center-align">
              <i class="fa-solid fa-arrow-up-from-square"></i>
              <a href="{{url_for('authentication.profile', username=user.username, user_id=user._id)}}" class="btn">Cancel</a>
              <button type="submit" class="btn"><strong>Update Profile</button>
            </div>
        </form>
    </div>

{% endblock %}
