{% extends "base.html" %}
{% block content %}
<div class="error-background-image center-align">

    <div class="row">
        <div class="error-container">
            <h1 class="title">{{ title }}</h1>
            <p>{{ message }}</p>
            <p><i class="fa-regular fa-hand-peace prefix fa-icon"></i> Pleace and Love <i
                    class="fa-regular fa-heart prefix fa-icon"></i></p>
            {% if session.user %}
            <a href="{{ url_for('index.logged_in_home')}}" class="btn">Return</a></li>
            {% else %}
            <a href="{{ url_for('index.home')}}" class="btn">Return</a></li>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}