{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="center-align">
            <a href="{{ url_for('organisations.add_organisation' )}}" class="btn">Add Organisation</a>
        </div>
    </div>

    <div class="row">
        {% for organisation in organisations %}
        <div class="col s12 m6 l4 xl3">
            <div class="card org-card center-align">
                <div class="card-content white-text">
                <span class="card-title">{{ organisation.organisation_name }}</span>
                <div class="card-action">
                    <a href="#" class="btn">Edit</a>
                    <button onClick="deleteOrganisationModal()" class="btn">Delete</button>
                </div>
            </div>
        </div>
         <!-- Delete Modal -->
         <div class="modal-background"></div>
            <div class="row">
                <div class="center-align organisation-modal">
                    <div class="col-12">
                        <header class="modal-header">
                            <h2>
                                Are you sure you want to delete {{ organisation.organisation_name }}!?
                            </h2>
                        </header>
                        <div class="modal-body">
                            <button onClick="closeOrgModal()" class="btn">Cancel</button>
                            <a href="#" class="btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}