{% extends "base.html" %}
{% block content %}

    <div class="profile-background">
      
    <div class="row">
      <h1 class="title">{{ title }}</h1>
        <div class="center-align profile-container">
              <div class="pic-container">
                <img class="profile-pic" src="{{ user.profile_image }}">
              </div>
              <div class="profile-content">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p>Favourite DJ: {{ user.fave_dj }}</p>
                <P>Favourite MC: {{ user.fave_mc }}</P>
                <P>Favourite Venue: {{ user.fave_venue }}</P>
                <P>Favourite Organisation: {{ user.fave_organisation }}</P>
                {% if user.fave_set %}
                <p>Favourite Set:</p>
                    <iframe class="youtube-vid" width="560" height="315" src="{{user.fave_set}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {% endif %}
            </div>
                {% if session.user|lower == user.username|lower %}
                    <a href= "{{ url_for('raves.get_user_raves', rave_id=rave_id) }}" class="btn">My Reviews</a>
                    <a href= "{{ url_for('authentication.edit_profile', user_id=user._id) }}" class="btn">Edit Profile</a>
                    <button onClick="deleteReviewModal( '{{user._id}}' )" class="btn">Delete Profile</button>
                {% endif %}
        </div>
    </div>
     <!-- Delete Modal -->
     <div class="modal-background" id="modal-background-{{ user._id }}">
        <div class="row">
            <div class="center-align review-modal" id="rave-modal-{{ user._id }}">
                <div class="col-12">
                    <header class="modal-header">
                        <h2>
                            Are you sure you want to delete {{ user.username }}'s profile!?
                        </h2>
                    </header>
                    <div class="modal-body">
                        <button onClick="closeRaveModal('{{ user._id }}')" class="btn">Cancel</button>
                        <a href="{{ url_for('authentication.delete_user', user_id=user._id) }}" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
