{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('authentication.register') }}">
          <div class="card-panel">
            <!-- username -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-user prefix fa-icon"></i>
                  <input id="username" name="username" type="text" minlength="5"
                       maxlenght="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                  <label for="username">Username</label>
              </div>
            </div>
            <!-- password -->
            <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-lock prefix fa-icon"></i>
                <input id="password" name="password" type="password" minlength="5" 
                      maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                <label for="password">Password</label>
              </div>
            </div>
            <!-- first name -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-pen prefix fa-icon"></i>
                  <input id="first_name" name="first_name" type="text" maxlength="20" class="validate" required>
                  <label for="first_name">First Name</label>
              </div>
            </div>
            <!-- surname name -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-pen prefix fa-icon"></i>
                  <input id="surname_name" name="surname_name" type="text" maxlength="20" class="validate" required>
                  <label for="surname_name">Surname Name</label>
              </div>
            </div>
            <!-- favourtie dj -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-compact-disc prefix fa-icon"></i>
                  <input id="fave_dj" name="fave_dj" type="text" maxlength="20" class="validate" required>
                  <label for="fave_dj">Favourite DJ</label>
              </div>
            </div>
            <!-- favourtie mc -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-microphone-lines prefix fa-icon"></i>
                  <input id="fave_mc" name="fave_mc" type="text" maxlength="20" class="validate" required>
                  <label for="fave_mc">Favourite MC</label>
              </div>
            </div>
            <!-- favourtie venue -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-warehouse prefix fa-icon"></i>
                  <input id="fave_venue" name="fave_venue" type="text" maxlength="20" class="validate" required>
                  <label for="fave_venue">Favourite Venue</label>
              </div>
            </div>
            <!-- favourtie organisation -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-people-group prefix fa-icon"></i>
                  <input id="fave_organisation" name="fave_organisation" type="text" maxlength="20" class="validate" required>
                  <label for="fave_organisation">Favourite Organisation</label>
              </div>
            </div>
            <!-- faveourtie set (youtube upload) -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-link prefix fa-icon"></i>
                    <input id="fave_set" name="fave_set" type="text" pattern="^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/.+" class="validate">
                    <label for="fave_set">What's your favourite set? (youtube link upload)</label>
                </div>
            </div>
             <!-- profile pic upload -->
             <div class="row">
              <div class="input-field col s12">
                  <i class="fa-solid fa-image-portrait prefix fa-icon"></i>
                  <input type="file" name="profile_image" id="profile_image" class="validate" required>
                  <div class="profile-img">
                      <label for="profile_image">Upload a profile pic</label>
                  </div>
              </div>
          </div>
            <!-- confirm password -->
            <!-- <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-lock prefix fa-icon"></i>
                <input id="confirm-password" name="confirm-password" type="password" class="validate" required>
                <label for="confirm-password">Confirm Password</label>
              </div>
            </div> -->
            
            <!-- register button -->
            <div class="row">
              <i class="fa-solid fa-arrow-up-from-square"></i>
              <button type="submit" class="col m6 offset-m3 text-center btn-large"><strong>Register</button>
            </div>
          </div>
        </form>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          Already registered? Log in <a href="{{ url_for('authentication.login')}}" class="link">here</a>
        </p>
      </div>
    </div>

{% endblock %}
